#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
@font-face {
  font-family: 'myOwnCalig';
  src: url('/fonts/myOwnCalig.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
